<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.IStreamerDao">
	<resultMap type="streamer" id="streamerMap">
		<id column="si_id" property="siId"/>
		<result column="si_twitch_url" property="strTwitchUrl"/>
		<result column="si_tgd_url" property="strTgdUrl"/>
		<result column="si_picture" property="strPicture"/>
		<result column="si_name" property="strName" />
		<result column="si_game_category" property="strGameCategory"/>
	</resultMap>
	
	<insert id="insertStreamer"	parameterType="streamer" useGeneratedKeys="true" keyProperty="siId">
		INSERT INTO s_info 
			(si_id, si_twitch_url, si_tgd_url, si_picture, si_name, si_game_category)
		VALUES(0, 
			#{strTwitchUrl}, 
			#{strTgdUrl}, 
			#{strPicture},
			#{strName}, 
			#{strGameCategory}
		) 
		
	</insert>
	<update id="updateStreamerInfo" parameterType="streamer">
		UPDATE s_info SET 
			si_twitch_url = #{strTwitchUrl}, 
			si_tgd_url = #{strTgdUrl}, 
			si_picture = #{strPicture},
			si_name = #{strName}, 
			si_game_category = #{strGameCategory}
		WHERE si_id = #{siId}
	</update>
	
	<delete id="deleteStreamerInfo" parameterType="java.lang.Integer">
		DELETE * FROM s_info WHERE si_id = #{siId}
	</delete>
	
	<select id="selectStreamerInfoBySiId" parameterType="java.lang.Integer"	resultMap="streamerMap">
		SELECT 
			siId,
			strTwitchUrl,
			strTgdUrl,
			strPicture,
			strName,
			strGameCategory
		FROM s_info WHERE si_id = #{siId}
	</select>
	<select id="selectStreamerInfoList" resultType="java.lang.Integer">
		SELECT 
			siId,
			strTwitchUrl,
			strTgdUrl,
			strPicture,
			strName,
			strGameCategory
		FROM s_info
	</select>
	
	<select id="selectStreamerInfoByStrName" parameterType="java.lang.String"  resultMap="streamerMap">
		SELECT si_id, si_twitch_url, si_tgd_url, si_picture, si_name, si_game_category FROM s_info WHERE si_name = #{strName}
	</select>

</mapper>